<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{changeUserPasswordPageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="panel panel-info">
					<div class="panel-heading text-left"></div>
					<div class="panel-body">
						<h:form id="changeUserPassword">
							<div class="contaiter">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-user" />
											#{msg['entity.user.userName']}
										</span>
										<h:inputText label="#{msg['entity.user.userName']}"
											value="#{pageBean.user.userName}" class="form-control"
											id="username" disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-lock" />
											#{msg['changepassword-form.password']}*
										</span>
										<h:inputSecret label="#{msg['changepassword-form.password']}"
												value="#{pageBean.user.password}"
												class="form-control" id="pw1" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-lock" />
											#{msg['changepassword-form.password-repeat']}*
										</span>
										<h:inputSecret label="#{msg['changepassword-form.password-repeat']}"
												value="#{pageBean.repeatPassword}"
												class="form-control" id="pw2" />
									</div>
								</div>
								<div class="form-group">

									<h:commandButton action="#{pageBean.changePassword()}"
										value="#{msg['form.submit.save']}" type="submit"
										class="btn btn-default" />
									<h:button outcome="users" value="#{msg['form.submit.cancel']}"
										class="btn btn-default" />

								</div>
							</div>
						</h:form>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>

	</ui:define>

</ui:composition>

