<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{changeUserRolePageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="panel panel-info">
					<div class="panel-heading text-left"></div>
					<div class="panel-body">
						<h:form id="changeUserRole">
							<div class="contaiter">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-user" />
											#{msg['entity.user.userName']}
										</span>
										<h:inputText label="#{msg['entity.user.userName']}"
											value="#{pageBean.user.userName}" class="form-control"
											id="username" disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-star" />
											#{msg['entity.user.userRole']}*
										</span>
										<h:selectOneMenu value="#{pageBean.selectedRoleId}"
											label="#{msg['entity.user.userRole']}" class="form-control"
											id="role">
											<f:selectItems value="#{pageBean.roles}" var="_role"
												itemValue="#{_role.id}" itemLabel="#{_role.roleName}"></f:selectItems>
										</h:selectOneMenu>
									</div>
								</div>
								<div class="form-group">

									<h:commandButton action="#{pageBean.saveUser()}"
										value="#{msg['form.submit.save']}" type="submit"
										class="btn btn-default" />
									<h:button outcome="skill" value="#{msg['form.submit.cancel']}"
										class="btn btn-default" />

								</div>
							</div>
						</h:form>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>

	</ui:define>

</ui:composition>

