<?xml version="1.0" encoding="UTF-8" ?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">

	<h:outputStylesheet name="bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="bootstrap/css/bootstrap-theme.css" />

	
		<div class="row">
			<div class="col-md-6 text-left"></div>
			<div class="col-md-6 text-right"></div>
		</div>

</ui:composition>

