<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" lang="#{contextBean.locale}">

<f:view locale="#{contextBean.locale}">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<h:outputStylesheet name="bootstrap/css/bootstrap.css" />
		<h:outputStylesheet name="bootstrap/css/bootstrap-theme.css" />

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" />
		<h:outputScript name="bootstrap/js/bootstrap.js" />

		<link rel="stylesheet"
			href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
		<link rel="stylesheet"
			href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

		<script
			src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

		<h:outputStylesheet name="css/rm.css" />


		<title><ui:insert name="title">ResumeManager Java Podyplomowe PŁ</ui:insert></title>
	</h:head>

	<h:body>
		<ui:debug hotkey="x"
			rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}" />
		<div class="container">
			<div id="header">
				<ui:insert name="header">

					<ui:include src="/header/header.xhtml" />

				</ui:insert>
			</div>


			<div id="content" class="text-center">
				<ui:insert name="content">
    	Content area.  See comments below this line in the source.
    	<!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
					<!-- <div> -->
					<!-- <ui:include src="content.xhtml"/> -->
					<!-- </div> -->
				</ui:insert>
			</div>

			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>
