<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:param name="pageBean" value="#{personalDetailsPageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading text-left">

						<h:outputText rendered="#{pageBean.person.accepted}"
							styleClass="glyphicon glyphicon-thumbs-up" />
						<h:outputText rendered="#{not pageBean.person.accepted}"
							styleClass="glyphicon glyphicon-thumbs-down" />

						#{msg['form.title.personalDetails']}
					</div>
					<div class="panel-body">
						<h:form id="personalDetailsFrom">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-user" />
										#{msg['entity.person.name']}</span>

									<h:inputText label="#{msg['entity.person.name']}"
										value="#{pageBean.person.name}" class="form-control" id="name"
										readonly="true" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-user" />
										#{msg['entity.person.surname']}</span>

									<h:inputText label="#{msg['entity.person.surname']}"
										value="#{pageBean.person.surName}" class="form-control"
										id="surname" readonly="true" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.country']}</span>

									<h:inputText label="#{msg['entity.address.country']}"
										value="#{pageBean.person.address.country}"
										class="form-control" id="country" readonly="true" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.city']}</span>

									<h:inputText label="#{msg['entity.address.city']}"
										value="#{pageBean.person.address.city}" class="form-control"
										id="city" readonly="true" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.postcode']}</span>

									<h:inputText label="#{msg['entity.address.postcode']}"
										value="#{pageBean.person.address.postCode}"
										class="form-control" id="postcode" readonly="true" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.street']}</span>

									<h:inputText label="#{msg['entity.address.street']}"
										value="#{pageBean.person.address.street}" class="form-control"
										id="street" readonly="true" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.estateNumber']}</span>

									<h:inputText label="#{msg['entity.address.estateNumber']}"
										value="#{pageBean.person.address.estateNumber}"
										class="form-control" id="estateNumber" readonly="true" />
								</div>
							</div>


							<div class="form-group">
								<h:commandButton action="#{pageBean.editPersonalDetails()}"
									value="#{msg['form.submit.edit']}" type="submit"
									class="btn btn-default" />

							</div>

						</h:form>
					</div>
				</div>
			</div>

		</div>
	</ui:define>

</ui:composition>

