<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{editSkillPageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="panel panel-info">
					<div class="panel-heading text-left">#{msg['form.title.addSkill']}</div>
					<div class="panel-body">
						<h:form id="addSkill">
							<div class="contaiter">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-equalizer" />
											#{msg['entity.skill.skillName']}*
										</span>
										<h:inputText label="#{msg['entity.skill.skillName']}"
											value="#{pageBean.skill.skillName}" class="form-control"
											id="skillName" />
									</div>
								</div>

								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-equalizer" />
											#{msg['entity.skill.level']}*
										</span>
										<h:selectOneMenu value="#{pageBean.skill.skillLevel}"
											label="#{msg['entity.skill.level']}" class="form-control"
											id="skillLevel">
											<f:selectItem itemLabel="#{msg['skill.level.1']}" itemValue="1"/>
											<f:selectItem itemLabel="#{msg['skill.level.2']}" itemValue="2"/>
											<f:selectItem itemLabel="#{msg['skill.level.3']}" itemValue="3"/>
											<f:selectItem itemLabel="#{msg['skill.level.4']}" itemValue="4"/>
											<f:selectItem itemLabel="#{msg['skill.level.5']}" itemValue="5"/>
										</h:selectOneMenu>
									</div>
								</div>
								
								
								<div class="form-group">

									<h:commandButton action="#{pageBean.updateSkill()}"
										value="#{msg['form.submit.save']}" type="submit"
										class="btn btn-default" />
									<h:button outcome="skill"
										value="#{msg['form.submit.cancel']}" class="btn btn-default" />

								</div>

							</div>
						</h:form>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>
		
	</ui:define>

</ui:composition>

