<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-2" />
			<div class="col-md-8">
				<div class="panel panel-info">
					<div class="panel-heading text-left">#{msg['form.title.login']}</div>
					<div class="panel-body">
						<form method="post" action="j_security_check">

							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-user" />
										#{msg['login-form.username']}*</span> <input type="text"
										class="form-control" name="j_username" id="usr" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-lock" />
										#{msg['login-form.password']}*</span> <input type="password"
										class="form-control" name="j_password" />
								</div>
							</div>
							<div class="form-group">
								<input type="submit" value="#{msg['login-form.login']}"
									class="btn btn-default" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2" />
		</div>
	</ui:define>

</ui:composition>

