<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-1" />
			<div class="col-md-10">
				<div class="panel panel-info">
					<div class="panel-heading text-left">#{msg['form.title.register']}</div>
					<div class="panel-body">
						<h:form id="registrationForm">
							<!-- USER########################################################################## -->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-user" />
										#{msg['registration-form.username']}*</span>

									<h:inputText label="#{msg['registration-form.username']}"
										value="#{registerPageBean.user.userName}" class="form-control"
										id="usr" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-envelope" />
										#{msg['registration-form.email']}*</span>

									<h:inputText label="#{msg['registration-form.email']}"
										value="#{registerPageBean.user.email}" class="form-control"
										id="email" />
								</div>
							</div>
							<!-- PERSON########################################################################## -->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-user" />
										#{msg['registration-form.name']}*</span>

									<h:inputText label="#{msg['registration-form.name']}"
										value="#{registerPageBean.person.name}" class="form-control"
										id="name" />
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-user" />
										#{msg['registration-form.surname']}*</span>

									<h:inputText label="#{msg['registration-form.surname']}"
										value="#{registerPageBean.person.surName}"
										class="form-control" id="surname" />
								</div>
							</div>
							<!-- ADDRESS########################################################################## -->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.country']}*</span>


									<h:inputText label="#{msg['entity.address.country']}"
										value="#{registerPageBean.address.country}"
										class="form-control" id="country" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.city']}*</span>

									<h:inputText label="#{msg['entity.address.city']}"
										value="#{registerPageBean.address.city}" class="form-control"
										id="city" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.postcode']}*</span>

									<h:inputText label="#{msg['entity.address.postcode']}"
										value="#{registerPageBean.address.postCode}"
										class="form-control" id="postcode" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.street']}*</span>

									<h:inputText label="#{msg['entity.address.street']}"
										value="#{registerPageBean.address.street}"
										class="form-control" id="street" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-home" />
										#{msg['entity.address.estateNumber']}*</span>


									<h:inputText label="#{msg['entity.address.estateNumber']}"
										value="#{registerPageBean.address.estateNumber}"
										class="form-control" id="estateNumber" />
								</div>
							</div>
							<!-- PASSWORD########################################################################## -->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-lock" />
										#{msg['registration-form.password']}*</span>

									<h:inputSecret label="#{msg['registration-form.password']}"
										value="#{registerPageBean.user.password}" class="form-control"
										id="pw1" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-lock" />
										#{msg['registration-form.password-repeat']}*</span>

									<h:inputSecret
										label="#{msg['registration-form.password-repeat']}"
										value="#{registerPageBean.repeatPassword}"
										class="form-control" id="pw2" />
								</div>
							</div>



							<div class="form-group">

								<h:commandButton action="#{registerPageBean.createNewUser()}"
									value="#{msg['registration-form.submit']}" type="submit"
									class="btn btn-default" />

							</div>

						</h:form>
					</div>
				</div>
			</div>
			<div class="col-md-1" />
		</div>
	</ui:define>

</ui:composition>

