<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" lang="#{contextBean.locale}">

<f:view locale="#{contextBean.locale}">

	<ui:param name="pageBean" value="#{pdfGeneratorPageBean}" />
<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<h:outputStylesheet name="bootstrap/css/bootstrap.css" />
		<h:outputStylesheet name="bootstrap/css/bootstrap-theme.css" />

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" />
		<h:outputScript name="bootstrap/js/bootstrap.js" />

		<link rel="stylesheet"
			href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
		<link rel="stylesheet"
			href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

		<script
			src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

		<h:outputStylesheet name="css/rm.css" />


		<title><ui:insert name="title">ResumeManager Java Podyplomowe PŁ</ui:insert></title>
		
	</h:head>

	<h:body style="font-family: 'Arial'">
		<div class="text-left">
			<h2>
				<small> <h:outputText
						value="#{pageBean.resume.person.name += ' ' += pageBean.resume.person.surName}" />
					<br /> <h:outputText
						value="#{pageBean.resume.person.address.street += ' ' += pageBean.resume.person.address.estateNumber}" />
					<br /> <h:outputText
						value="#{pageBean.resume.person.address.postCode += ' ' += pageBean.resume.person.address.city}" />
					<br /> <h:outputText
						value="#{pageBean.resume.person.address.country}" />
				</small>
			</h2>
		</div>




		<div class="text-right">
			<div class="contaiter">
				<h1>
					<small>#{msg['cv.view.experience']}</small>
				</h1>
				<h:dataTable var="rec" value="#{pageBean.resume.experiences}"
					styleClass="table">
					<h:column>
						<f:facet name="header">#{msg['entity.experience.company']}</f:facet>
						<h:outputText value="#{rec.company}" />
					</h:column>
					<h:column>
						<f:facet name="header">#{msg['entity.experience.industry']}</f:facet>
						<h:outputText value="#{rec.industry}" />
					</h:column>
					<h:column>
						<f:facet name="header">#{msg['entity.experience.title']}</f:facet>
						<h:outputText value="#{rec.title}" />
					</h:column>
					<h:column>
						<f:facet name="header">#{msg['entity.experience.fromDate']}</f:facet>
						<h:outputText value="#{rec.fromDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">#{msg['entity.experience.toDate']}</f:facet>
						<h:outputText value="#{rec.toDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
					</h:column>


				</h:dataTable>
			</div>


			<div class="text-right">
				<div class="contaiter">
					<h1>
						<small>#{msg['cv.view.education']}</small>
					</h1>
					<h:dataTable var="rec" value="#{pageBean.resume.educations}"
						styleClass="table">
						<h:column>
							<f:facet name="header">#{msg['entity.education.school']}</f:facet>
							<h:outputText value="#{rec.school}" />
						</h:column>
						<h:column>
							<f:facet name="header">#{msg['entity.education.fieldOfStudy']}</f:facet>
							<h:outputText value="#{rec.fieldOfStudy}" />
						</h:column>
						<h:column>
							<f:facet name="header">#{msg['entity.education.degree']}</f:facet>
							<h:outputText value="#{rec.degree}" />
						</h:column>
						<h:column>
							<f:facet name="header">#{msg['entity.education.fromDate']}</f:facet>
							<h:outputText value="#{rec.fromDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>
						</h:column>
						<h:column>
							<f:facet name="header">#{msg['entity.education.toDate']}</f:facet>
							<h:outputText value="#{rec.toDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>
						</h:column>


					</h:dataTable>

				</div>
			</div>

			<div class="text-right">
				<div class="contaiter">
					<h1>
						<small>#{msg['cv.view.skills']}</small>
					</h1>
					<h:dataTable var="rec" value="#{pageBean.resume.skills}"
						styleClass="table">
						<h:column>
							<f:facet name="header">#{msg['entity.skill.skillName']}</f:facet>
							<h:outputText value="#{rec.skillName}" />
						</h:column>
						<h:column>
							<f:facet name="header">#{msg['entity.skill.level']}</f:facet>
							<h:outputText value="#{msg['skill.level.' += rec.skillLevel]}" />
						</h:column>

					</h:dataTable>

				</div>
			</div>

		</div>


</h:body>
</f:view>
</html>

