<?xml version="1.0" encoding="UTF-8" ?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">


	<h:outputStylesheet name="bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="bootstrap/css/bootstrap-theme.css" />


	<div class="row">
		<div class="col-md-12 text-left">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="col-md-7 text-left">
						<div class="navbar-header">
							<h:link outcome="myCV" styleClass="navbar-brand"
								value="#{msg['project.name']}" />

						</div>
						<h:form id="menu-all"
							rendered="#{facesContext.externalContext.isUserInRole('ADMINISTRATOR') or facesContext.externalContext.isUserInRole('USER') or facesContext.externalContext.isUserInRole('HRUSER')}">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">#{msg['menu.item-mydetails']}<span
										class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><h:link value="#{msg['menu.item-mydetails-1']}"
												outcome="personalDetails"
												rendered="#{facesContext.externalContext.isUserInRole('ADMINISTRATOR') or facesContext.externalContext.isUserInRole('USER') or facesContext.externalContext.isUserInRole('HRUSER')}" /></li>
										<li><h:link value="#{msg['menu.item-mydetails-2']}"
												outcome="experience"
												rendered="#{facesContext.externalContext.isUserInRole('ADMINISTRATOR') or facesContext.externalContext.isUserInRole('USER') or facesContext.externalContext.isUserInRole('HRUSER')}" /></li>
										<li><h:link value="#{msg['menu.item-mydetails-3']}"
												outcome="education"
												rendered="#{facesContext.externalContext.isUserInRole('ADMINISTRATOR') or facesContext.externalContext.isUserInRole('USER') or facesContext.externalContext.isUserInRole('HRUSER')}" /></li>
										<li><h:link value="#{msg['menu.item-mydetails-4']}"
												outcome="skill"
												rendered="#{facesContext.externalContext.isUserInRole('ADMINISTRATOR') or facesContext.externalContext.isUserInRole('USER') or facesContext.externalContext.isUserInRole('HRUSER')}" /></li>
									</ul></li>
							</ul>
						</h:form>
						<h:form id="menu-hr"
							rendered="#{facesContext.externalContext.isUserInRole('HRUSER')}">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">#{msg['menu.item-hr']}<span
										class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><h:link value="#{msg['menu.item-hr-3']}"
												outcome="searchResume"
												rendered="#{facesContext.externalContext.isUserInRole('HRUSER')}" /></li>
										<li><h:link value="#{msg['menu.item-hr-1']}"
												outcome="activateAccount"
												rendered="#{facesContext.externalContext.isUserInRole('HRUSER')}" /></li>
										<li><h:link value="#{msg['menu.item-hr-2']}"
												outcome="forAcceptation"
												rendered="#{facesContext.externalContext.isUserInRole('HRUSER')}" /></li>



									</ul></li>
							</ul>
						</h:form>
						<h:form id="menu-admin"
							rendered="#{facesContext.externalContext.isUserInRole('ADMINISTRATOR')}">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">#{msg['menu.item-admin']}<span
										class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><h:link value="#{msg['menu.item-admin-1']}"
												outcome="users"
												rendered="#{facesContext.externalContext.isUserInRole('ADMINISTRATOR')}" /></li>

									</ul></li>
							</ul>
						</h:form>
					</div>


					<div class="col-md-3">
						<h:form id="logout" rendered="#{contextBean.userLogedIn}">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">#{msg['menu.item-myaccount']}<span
										class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><h:link value="#{msg['menu.item-myaccount-1']}"
												outcome="changePassword" /></li>
										<li><h:commandLink
												action="#{contextBean.invalidateSession()}"
												value="#{msg['menu.item-myaccount-2']}" /></li>
									</ul></li>
							</ul>
						</h:form>
						<h:form id="register" rendered="#{!contextBean.userLogedIn}">
							<ul class="nav navbar-nav navbar-right">

								<li><h:link value="#{msg['menu.item-login']}"
										outcome="login" /></li>
								<li><h:link value="#{msg['menu.item-register']}"
										outcome="register" /></li>

							</ul>
						</h:form>
					</div>
					<div class="col-md-2">
						<h:form id="language" rendered="#{contextBean.userLogedIn}">
							<ul class="nav navbar-nav navbar-right">
								<li><h:commandLink action="#{contextBean.setLocale('pl')}">
										<h:graphicImage value="/resources/img/languages/PL.png" />
									</h:commandLink></li>
								<li><h:commandLink action="#{contextBean.setLocale('en')}">
										<h:graphicImage value="/resources/img/languages/GB.png" />
									</h:commandLink></li>
							</ul>
						</h:form>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<h:form>
				<h:messages id="messages" showSummary="true" />
			</h:form>

		</div>
	</div>
	<h:panelGroup layout="block"
		rendered="#{facesContext.externalContext.isUserInRole('HRUSER')}">
		<div class="row">
			<div class="col-md-12">
				<h:panelGroup layout="block"
					rendered="#{existPersonsNeedAcceptation.existPersonsNeedAcceptation()}">
					<div class="alert alert-danger">
						<p class="text-center">
							#{msg['message.hr.notification.existPersonsNeedAcceptation']}</p>
					</div>
				</h:panelGroup>
			</div>
		</div>
	</h:panelGroup>



</ui:composition>