<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{activateAccountPageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading text-left"></div>
					<div class="panel-body">
						<h:form id="users" rendered="#{not empty pageBean.notActivatedUsers}">
							<div class="contaiter">
								<h:dataTable var="rec" value="#{pageBean.notActivatedUsers}"
									styleClass="table">
									<h:column>
										<f:facet name="header">#{msg['entity.user.person']}</f:facet>
										<h:outputText
											value="#{rec.person.name += ' ' += rec.person.surName}" />
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.user.userName']}</f:facet>
										<h:outputText value="#{rec.userName}" />
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.user.userRole']}</f:facet>
										<h:outputText value="#{rec.userRole.roleName}" />
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.user.userActivated']}</f:facet>
										<h:selectBooleanCheckbox value="#{rec.userActivated}"
											readonly="true" disabled="true" />
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.user.userLocked']}</f:facet>
										<h:selectBooleanCheckbox value="#{rec.userLock}"
											readonly="true" disabled="true" />
									</h:column>

									<h:column>
										<f:facet name="header">#{msg['form.actions']}</f:facet>
										<div class="btn-group">
											<button type="button" class="btn btn-primary btn-sm">#{msg['form.actions']}</button>
											<button type="button"
												class="btn btn-primary dropdown-toggle btn-sm"
												data-toggle="dropdown">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><h:commandLink
														action="#{pageBean.activateUser( rec.id )}"
														value="#{msg['form.actions.activateUser']}"
														rendered="#{not rec.userActivated}" /></li>

											</ul>
										</div>
									</h:column>

								</h:dataTable>

							</div>
						</h:form>
					</div>
				</div>

			</div>

		</div>

	</ui:define>

</ui:composition>

