<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{forAcceptationPageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading text-left">
					</div>
					<div class="panel-body">
						<h:form id="users" rendered="#{not empty pageBean.personsNeedAcceptaion}">
							<div class="contaiter">
								<h:dataTable var="rec" value="#{pageBean.personsNeedAcceptaion}"
									styleClass="table">
									<h:column>
										<f:facet name="header">#{msg['entity.user.person']}</f:facet>
										<h:outputText value="#{rec.name += ' ' += rec.surName}" />
									</h:column>
									
									
									<h:column>
										<f:facet name="header">#{msg['form.actions']}</f:facet>
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-sm">#{msg['form.actions']}</button>
											<button type="button"
												class="btn btn-default dropdown-toggle btn-sm"
												data-toggle="dropdown">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><h:commandLink action="#{pageBean.acceptAll( rec.id )}" value="#{msg['form.actions.accept']}"/></li>
												<li><h:commandLink action="#{pageBean.prepareForHrVewResume( rec.id )}" value="#{msg['form.actions.view']}"/></li>
												
											</ul>
										</div>
									</h:column>

								</h:dataTable>

							</div>
						</h:form>
					</div>
				</div>

			</div>
			
		</div>

	</ui:define>

</ui:composition>

