<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{forAcceptationPageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading text-left">#{msg['form.title.search']}</div>
					<div class="panel-body">

						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#byName">${msg['form.title.search.byName']}</a></li>
							<li><a data-toggle="tab" href="#bySkills">#{msg['form.title.search.bySkills']}</a></li>
						</ul>

						<div class="tab-content">
							<div id="byName" class="tab-pane fade in active">
								<p>
									<h:form id="searchByName">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon"><span
													class="glyphicon glyphicon-user" />
													#{msg['entity.person.surname']}*</span>

												<h:inputText label="#{msg['entity.person.surname']}"
													value="#{searchResumePageBean.searchedName}"
													class="form-control" id="name" />
											</div>
										</div>
										<div class="form-group text-right">

											<h:commandButton
												action="#{searchResumePageBean.searchPersonBySurname()}"
												value="#{msg['form.actions.search']}" type="submit"
												class="btn btn-default" />

										</div>

									</h:form>
								</p>
							</div>
							<div id="bySkills" class="tab-pane fade">
								<h:form id="searchBySkills">

									<div class="input-group">
										<span class="input-group-addon"><span
											class="glyphicon glyphicon-user" />
											#{msg['entity.skill.skillName']}*</span>

										<h:selectManyListbox
											value="#{searchResumePageBean.searchSkills}"
											styleClass="form-control" size="10">
											<f:selectItems value="#{searchResumePageBean.allSkills}" />
										</h:selectManyListbox>
									</div>
									<div class="form-group text-right">

										<h:commandButton
											action="#{searchResumePageBean.searchPersonBySkills()}"
											value="#{msg['form.actions.search']}" type="submit"
											class="btn btn-default" />

									</div>



								</h:form>
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup layout="block"
					rendered="#{not empty searchResumePageBean.searchResults}">
					<div class="panel panel-info">
						<div class="panel-heading text-left">#{msg['form.title.search.searchResults']}</div>

						<div class="panel-body">

							<h:form>
								<h:dataTable var="rec"
									value="#{searchResumePageBean.searchResults}"
									styleClass="table">
									<h:column>
										<h:commandLink
											action="#{searchResumePageBean.prepareForHrVewResume(rec.id)}"
											value="#{rec.name += ' ' += rec.surName += ' - ' += rec.address.country += ' - ' += rec.address.city}" />

									</h:column>
								</h:dataTable>
							</h:form>
						</div>
					</div>
				</h:panelGroup>
			</div>

		</div>

	</ui:define>

</ui:composition>

