<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{myResumePageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<h:panelGroup layout="block"
					rendered="#{myResumePageBean.resume.person.resumeAcceptanceStatus == 'REJECTED'}">
					<div class="alert alert-danger">
						<strong>#{msg['message.module.resume']}: </strong>#{msg['message.error.resumeRejected']}
						<p>
							<STRONG>#{myResumePageBean.resume.person.rejectionReason}</STRONG>
						</p>

					</div>
				</h:panelGroup>
				<h:panelGroup layout="block"
					rendered="#{myResumePageBean.resume.person.resumeAcceptanceStatus == 'NEED_ACCEPTATION'}">
					<div class="alert alert-warning">
						<strong>#{msg['message.module.resume']}: </strong>#{msg['message.warning.notAcceptedYet']}
					</div>
				</h:panelGroup>
			</div>
			<div class="col-md-3">
				<div class="panel panel-info ">
					<div class="panel-heading text-left">
						#{msg['cv.view.personal-data']}</div>
					<div class="panel-body">
						<p>
							<h:outputText
								value="#{pageBean.resume.person.name += ' ' += pageBean.resume.person.surName}" />
						</p>
						<p>
							<h:outputText
								value="#{pageBean.resume.person.address.street += ' ' += pageBean.resume.person.address.estateNumber}" />
						</p>
						<p>
							<h:outputText
								value="#{pageBean.resume.person.address.postCode += ' ' += pageBean.resume.person.address.city}" />
						</p>
						<p>
							<h:outputText value="#{pageBean.resume.person.address.country}" />
						</p>
					</div>

				</div>

			</div>
			<div class="col-md-9">
				<div class="panel panel-info">
					<div class="panel-heading text-left">
						#{msg['cv.view.experience']}</div>
					<div class="panel-body">
						<div class="contaiter">
							<h:dataTable var="rec" value="#{pageBean.resume.experiences}"
								styleClass="table">
								<h:column>
									<f:facet name="header">#{msg['entity.experience.company']}</f:facet>
									<h:outputText value="#{rec.company}" />
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.experience.industry']}</f:facet>
									<h:outputText value="#{rec.industry}" />
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.experience.title']}</f:facet>
									<h:outputText value="#{rec.title}" />
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.experience.fromDate']}</f:facet>
									<h:outputText value="#{rec.fromDate}">
										<f:convertDateTime pattern="dd-MM-yyyy" />
									</h:outputText>
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.experience.toDate']}</f:facet>
									<h:outputText value="#{rec.toDate}">
										<f:convertDateTime pattern="dd-MM-yyyy" />
									</h:outputText>
								</h:column>


							</h:dataTable>
						</div>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading text-left">
						#{msg['cv.view.education']}</div>
					<div class="panel-body">
						<div class="contaiter">
							<h:dataTable var="rec" value="#{pageBean.resume.educations}"
								styleClass="table">
								<h:column>
									<f:facet name="header">#{msg['entity.education.school']}</f:facet>
									<h:outputText value="#{rec.school}" />
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.education.fieldOfStudy']}</f:facet>
									<h:outputText value="#{rec.fieldOfStudy}" />
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.education.degree']}</f:facet>
									<h:outputText value="#{rec.degree}" />
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.education.fromDate']}</f:facet>
									<h:outputText value="#{rec.fromDate}">
										<f:convertDateTime pattern="dd-MM-yyyy" />
									</h:outputText>
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.education.toDate']}</f:facet>
									<h:outputText value="#{rec.toDate}">
										<f:convertDateTime pattern="dd-MM-yyyy" />
									</h:outputText>
								</h:column>


							</h:dataTable>

						</div>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading text-left">
						#{msg['cv.view.skills']}</div>
					<div class="panel-body">
						<div class="contaiter">
							<h:dataTable var="rec" value="#{pageBean.resume.skills}"
								styleClass="table">
								<h:column>
									<f:facet name="header">#{msg['entity.skill.skillName']}</f:facet>
									<h:outputText value="#{rec.skillName}" />
								</h:column>
								<h:column>
									<f:facet name="header">#{msg['entity.skill.level']}</f:facet>
									<h:outputText value="#{msg['skill.level.' += rec.skillLevel]}" />
								</h:column>

							</h:dataTable>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12 text-right">
				<h:form>
					<h:commandButton action="#{pageBean.createPDF()}"
						value="#{msg['form.actions.createPDF']}" styleClass="btn btn-success"
						/>
				</h:form>
			</div>
		</div>

	</ui:define>

</ui:composition>

