<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{addEducationPageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="panel panel-info">
					<div class="panel-heading text-left">#{msg['form.title.addEducation']}</div>
					<div class="panel-body">
						<h:form id="addEducation">
							<div class="contaiter">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-education" />
											#{msg['entity.education.school']}*
										</span>
										<h:inputText label="#{msg['entity.education.school']}"
											value="#{pageBean.education.school}" class="form-control"
											id="school" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-education" />
											#{msg['entity.education.fieldOfStudy']}*
										</span>
										<h:inputText label="#{msg['entity.education.fieldOfStudy']}"
											value="#{pageBean.education.fieldOfStudy}" class="form-control"
											id="industry" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-education" />
											#{msg['entity.education.degree']}*
										</span>
										<h:inputText label="#{msg['entity.education.degree']}"
											value="#{pageBean.education.degree}" class="form-control"
											id="title" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group date" id="fromDate">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar" />
											#{msg['entity.education.fromDate']}*
										</span>

										<h:inputText label="#{msg['entity.education.fromDate']}"
											value="#{pageBean.education.fromDate}" class="form-control">
											<f:convertDateTime pattern="dd-MM-yyyy" />
										</h:inputText>

									</div>

								</div>
								<div class="form-group">
									<div class="input-group date" id="toDate">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar" />
											#{msg['entity.education.toDate']}
										</span>

										<h:inputText label="#{msg['entity.education.toDate']}"
											value="#{pageBean.education.toDate}" class="form-control">
											<f:convertDateTime pattern="dd-MM-yyyy" />
										</h:inputText>

									</div>
								</div>
								
								<div class="form-group">

									<h:commandButton action="#{pageBean.saveEducation()}"
										value="#{msg['form.submit.save']}" type="submit"
										class="btn btn-default" />
									<h:button outcome="education"
										value="#{msg['form.submit.cancel']}" class="btn btn-default" />

								</div>

							</div>
						</h:form>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>
		<script type="text/javascript">
            $(function () {
            	 $('#fromDate')
                 .datepicker({
                     autoclose: true,
                     format: 'dd-mm-yyyy'
                 });

                $('#toDate')
                     .datepicker({
                         autoclose: true,
                         format: 'dd-mm-yyyy'
                     })
            });
        </script>
	</ui:define>

</ui:composition>

