<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{addExperiencePageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="panel panel-info">
					<div class="panel-heading text-left">#{msg['form.title.addExperience']}</div>
					<div class="panel-body">
						<h:form id="addExperience">
							<div class="contaiter">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-list-alt" />
											#{msg['entity.experience.company']}*
										</span>
										<h:inputText label="#{msg['entity.experience.company']}"
											value="#{pageBean.experience.company}" class="form-control"
											id="company" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-list-alt" />
											#{msg['entity.experience.industry']}*
										</span>
										<h:inputText label="#{msg['entity.experience.industry']}"
											value="#{pageBean.experience.industry}" class="form-control"
											id="industry" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-list-alt" />
											#{msg['entity.experience.title']}*
										</span>
										<h:inputText label="#{msg['entity.experience.title']}"
											value="#{pageBean.experience.title}" class="form-control"
											id="title" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group date" id="fromDate">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar" />
											#{msg['entity.experience.fromDate']}*
										</span>

										<h:inputText label="#{msg['entity.experience.fromDate']}"
											value="#{pageBean.experience.fromDate}" class="form-control">
											<f:convertDateTime pattern="dd-MM-yyyy" />
										</h:inputText>

									</div>

								</div>
								<div class="form-group">
									<div class="input-group date" id="toDate">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar" />
											#{msg['entity.experience.toDate']}
										</span>

										<h:inputText label="#{msg['entity.experience.toDate']}"
											value="#{pageBean.experience.toDate}" class="form-control">
											<f:convertDateTime pattern="dd-MM-yyyy" />
										</h:inputText>

									</div>
								</div>
								<div class="form-group">
									<div class="input-group" id="description">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-list-alt" />
											#{msg['entity.experience.description']}
										</span>

										<h:inputTextarea
											label="#{msg['entity.experience.description']}"
											value="#{pageBean.experience.description}"
											class="form-control" />

									</div>
								</div>


								<div class="form-group">

									<h:commandButton action="#{pageBean.saveExperience()}"
										value="#{msg['form.submit.save']}" type="submit"
										class="btn btn-default" />
									<h:button outcome="experience"
										value="#{msg['form.submit.cancel']}" class="btn btn-default" />

								</div>

							</div>
						</h:form>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>
		<script type="text/javascript">
            $(function () {
            	 $('#fromDate')
                 .datepicker({
                     autoclose: true,
                     format: 'dd-mm-yyyy'
                 });

                $('#toDate')
                     .datepicker({
                         autoclose: true,
                         format: 'dd-mm-yyyy'
                     })
            });
        </script>
	</ui:define>

</ui:composition>

