<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:param name="pageBean" value="#{experiencePageBean}" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap.css" />
	<h:outputStylesheet name="resources/bootstrap/css/bootstrap-theme.css" />

	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading text-left">
						<h:link outcome="addExperience" value="#{msg['form.actions.add']}"
							type="submit" class="btn btn-default btn-sm" />
					</div>
					<div class="panel-body">
						<h:form id="experience" rendered="#{not empty pageBean.experiences}">
							<div class="contaiter">
								<h:dataTable var="rec" value="#{pageBean.experiences}"
									styleClass="table">

									<h:column>
										<f:facet name="header">#{msg['entity.accepted']}</f:facet>
										<h:outputText rendered="#{rec.accepted}" styleClass="glyphicon glyphicon-thumbs-up" />
										<h:outputText rendered="#{not rec.accepted}" styleClass="glyphicon glyphicon-thumbs-down"/>
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.experience.company']}</f:facet>
										<h:outputText value="#{rec.company}" />
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.experience.industry']}</f:facet>
										<h:outputText value="#{rec.industry}" />
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.experience.title']}</f:facet>
										<h:outputText value="#{rec.title}" />
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.experience.fromDate']}</f:facet>
										<h:outputText value="#{rec.fromDate}">
											<f:convertDateTime pattern="dd-MM-yyyy"/>
										</h:outputText>
									</h:column>
									<h:column>
										<f:facet name="header">#{msg['entity.experience.toDate']}</f:facet>
										<h:outputText value="#{rec.toDate}" >
											<f:convertDateTime pattern="dd-MM-yyyy"/>
										</h:outputText>
									</h:column>
									<h:column>

										<f:facet name="header">#{msg['entity.experience.description']}</f:facet>

										<button type="button" class="btn btn-default btn-sm"
											data-toggle="modal" data-target="#description#{rec.id}">#{msg['entity.experience.seeDescription']}</button>

										
												<ui:include src="/experience/_modalContent.xhtml" />
												
											

									</h:column>
									<h:column>
										<f:facet name="header">#{msg['form.actions']}</f:facet>
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-sm">#{msg['form.actions']}</button>
											<button type="button"
												class="btn btn-default dropdown-toggle btn-sm"
												data-toggle="dropdown">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><h:commandLink action="#{pageBean.prepareExperienceForEdit( rec.id )}" value="#{msg['form.actions.edit']}" /> </li>
												<li><h:commandLink action="#{pageBean.deleteExperience( rec.id )}" value="#{msg['form.actions.delete']}" /></li>
											</ul>
										</div>
									</h:column>

								</h:dataTable>

							</div>
						</h:form>
					</div>
				</div>

			</div>
			
		</div>

	</ui:define>

</ui:composition>

